@import './variables.scss';

.card {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background: $yellow;
}

.bet {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;
  
  font-weight: bold;
  text-align: center;
}

.bet > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: gold;
}

.main {
  text-align: left;
  background: deepskyblue;
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 2; }
}

.team0 {
  order: 0;
}

.team1 {
  order: 1;
}