@import './variables.scss';

.card {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background: $yellow;
}

.bet {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;
  
  font-weight: bold;
  text-align: center;
}

.bet > * {
  padding: 1px;
  flex: 1 100%;
}

.header {
  background: green;
}

.info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.team0prop {
  text-align: left;
  background: red;
  order: 0;
}
.team1prop {
  text-align: left;
  background: blue;
  order: 0;
}