progress {
  box-sizing: inherit;
  display: block;
  background-color: #eceeef;
}

.progress-bar {
  height: 1rem;
  color: #fff;
  background-color: #0275d8;
}

.bg-danger {
    background-color: red;
}

.bg-success {
    background-color: blue;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #eceeef;
  border-radius: .25rem;
}